In [ ]:
#5.Extracting Topographic Elevations using python
#Steps:
#1.Reading stations data from csv file
#2.Reading DEM data in tif format
#3.Extracting DEM values for stations using forloop
#4.Saving the extracted to a dataframe
#5.Exporting output in csv file

In [ ]:
#Reading DEM data

In [ ]:
#Reading locations data from csv

In [9]:
import geopandas as gpd
import rasterio

In [3]:
stations=gpd.read_file(r'F:\python\RS_GIS_Python\DEM_Extraction_usingPython\stations.shp')

In [4]:
stations.head()

   Id      name                   geometry
0   0  station1  POINT (116.66012 6.20102)
1   0  station2  POINT (116.86285 6.10965)
2   0  station3  POINT (117.12412 6.12821)
3   0  station4  POINT (117.29115 6.30524)
4   0  station5  POINT (116.91996 6.35664)

In [5]:
type(stations)

geopandas.geodataframe.GeoDataFrame

In [16]:
#Extracting latitude, longitude from each station
stations['elevations']=0
for index, row in stations.iterrows():
    #Extracting attributes from the stations shapefile
    name=row['name']
    latitude=row['geometry'].y
    longitude=row['geometry'].x

    #Reading DEM using rasterio
    dem=rasterio.open(r'F:\python\RS_GIS_Python\DEM_Extraction_usingPython\DEM.tif')
    row,col=dem.index(longitude,latitude)#Raster consists of rows,columns,so lets get the index of particular station through its lat,long
    dem_data=dem.read(1)
    
    print('The elevation of'+name+":"+str(dem_data[row,col])+ "meters") #though dem_data[row,col] is a number we need to convert to string to add to words
    #Saving the result in a column called elevations in stations datafarme
    stations['elevations'].loc[index]= dem_data[row,col]

The elevation ofstation1:2570meters
The elevation ofstation2:204meters
The elevation ofstation3:191meters

C:\Users\suchi\AppData\Local\Temp\ipykernel_7608\1738989338.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations['elevations'].loc[index]= dem_data[row,col]

The elevation ofstation4:117meters
The elevation ofstation5:774meters
The elevation ofstation6:291meters
The elevation ofstation7:49meters
The elevation ofstation8:399meters
The elevation ofstation9:82meters

In [17]:
stations.head()

   Id      name                   geometry  elevations
0   0  station1  POINT (116.66012 6.20102)        2570
1   0  station2  POINT (116.86285 6.10965)         204
2   0  station3  POINT (117.12412 6.12821)         191
3   0  station4  POINT (117.29115 6.30524)         117
4   0  station5  POINT (116.91996 6.35664)         774

In [18]:
#Saving the data to csv file
elevations=stations[['name','elevations']]
elevations.head()

       name  elevations
0  station1        2570
1  station2         204
2  station3         191
3  station4         117
4  station5         774

In [19]:
type(elevations)
#As there is no geometry column, it is a pandas dataframe

pandas.core.frame.DataFrame

In [20]:
elevations.to_csv('F:\python\RS_GIS_Python\Output\DEM_output.csv')