<a href="https://colab.research.google.com/github/suchitra2020180/RS_GIS_Python/blob/main/Python_Foundation_for_Spatial_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Spatial Thoughts Tutorials

#0.Hello World

In [ ]:
print("Hello World")

Hello World

#1.Variables

##Strings
A string is a sequence of letters, numbers, and punctuation marks - or commonly known as text

In Python you can create a string by typing letters between single or double quotation marks.

In [ ]:
city="San Francisco"
state='California'
print(city,state)

San Francisco California

In [ ]:
print(city + state)

San FranciscoCalifornia

In [ ]:
print(city+', '+state)

San Francisco, California

##Numbers
Python can handle several types of numbers, but the two most common are:

int, which represents integer values like 100, and
float, which represents numbers that have a fraction part, like 0.5

Dynamic typing: Python allows assiging of both numbers and strings to a same variable. This makes python as a dynamic typing language.

In [ ]:
population = 881549
latitude = 37.7739
longitude = -121.5687

In [ ]:
print('Population:',population)
print('Population Data Type:',type(population))

Population: 881549
Population Data Type: <class 'int'>

In [ ]:
print('latitude:',latitude)
print('latitude Data Type:',type(latitude))

latitude: 37.7739
latitude Data Type: <class 'float'>

In [ ]:
elevation_feet = 934
#Converting feet to meters
elevation_meters=elevation_feet*0.3048
print('Elevation in meters:',elevation_meters)

Elevation in meters: 284.6832

In [ ]:
area_sqmi = 46.89
density = population / area_sqmi
print('Density:',density)

Density: 18800.362550650458

In [ ]:
population='1 million'
print('Population:',population)
print('Population Datatype:',type(population))

Population: 1 million
Population Datatype: <class 'str'>

##Exercise
We have a variable named distance_km below with the value 4135 - indicating the straight-line distance between San Francisco and New York in Kilometers. Create another variable called distance_mi and store the distance value in miles.

Hint1: 1 mile = 1.60934 kilometers
Add the code in the cell below and run it. The output should be 2569.37

In [ ]:
distance_km=4135
distance_mi=distance_km/1.60934
print('Distance in miles:',distance_mi)

Distance in miles: 2569.376266046951

#2.Data Structures

##Tuples
A tuple is a sequence of objects. It can have any number of objects inside. In Python tuples are written with round brackets ().

In [ ]:
latitude = 37.7739
longitude = -121.5687
coordinates = (latitude, longitude)
print(coordinates)

(37.7739, -121.5687)

You can access each item by its position, i.e. index. In programming, the counting starts from 0. So the first item has an index of 0, the second item an index of 1 and so now. The index has to be put inside square brackets [].

In [ ]:
y = coordinates[0]
x = coordinates[1]
print(x, y)

-121.5687 37.7739

##Lists
A list is similar to a tuple - but with a key difference. With tuples, once created, they cannot be changed, i.e. they are immutable. But lists are mutable. You can add, delete or change elements within a list. In Python, lists are written with square brackets []

In [ ]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

You can access the elements from a list using index the same way as tuples.

In [ ]:
print(cities[0])

San Francisco

You can call len() function with any Python object and it will calculates the size of the object

In [ ]:
print(len(cities))

5

We can add items to the list using the append() method

In [ ]:
cities.append('Boston')
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta', 'Boston']

As lists are mutable, you will see that the size of the list has now changed

In [ ]:
print(len(cities))

5

Another useful method for lists is sort() - which can sort the elements in a list.

In [ ]:
cities.sort()
print(cities)

['Atlanta', 'Boston', 'Los Angeles', 'New York', 'San Francisco']

The default sorting is in ascending order. If we wanted to sort the list in a decending order, we can call the function with reverse=True

In [ ]:
cities.sort(reverse=True)
print(cities)

['San Francisco', 'New York', 'Los Angeles', 'Boston', 'Atlanta']

##Sets
Sets are like lists, but with some interesting properties. Mainly that they contain only unique values. It also allows for set operations - such as intersection, union and difference. In practice, the sets are typically created from lists.

In [ ]:
capitals = ['Sacramento', 'Boston', 'Austin', 'Atlanta']
capitals_set = set(capitals)
cities_set = set(cities)

print('capitals_set:',capitals_set)
print('cities_set:',cities_set)

capital_cities = capitals_set.intersection(cities_set)
print('capital_cities:',capital_cities)

capitals_set: {'Sacramento', 'Atlanta', 'Boston', 'Austin'}
cities_set: {'New York', 'Los Angeles', 'Boston', 'San Francisco', 'Atlanta'}
capital_cities: {'Atlanta', 'Boston'}

Sets are also useful in finding unique elements in a list. Let’s merge the two lists using the extend() method. The resulting list will have duplicate elements. Creating a set from the list removes the duplicate elements.

In [ ]:
cities.extend(capitals)
print('Cities:',cities)
print('Set of cities:',set(cities))

Cities: ['San Francisco', 'New York', 'Los Angeles', 'Boston', 'Atlanta', 'Sacramento', 'Boston', 'Austin', 'Atlanta']
Set of cities: {'New York', 'Los Angeles', 'Boston', 'San Francisco', 'Sacramento', 'Austin', 'Atlanta'}

##Dictionaries
In Python dictionaries are written with curly brackets {}. Dictionaries have keys and values. With lists, we can access each element by its index. But a dictionary makes it easy to access the element by name. Keys and values are separated by a colon :.

In [ ]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }
print('Data:',data)

Data: {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749)}

You can access an item of a dictionary by referring to its key name, inside square brackets.

In [ ]:
print(data['city'])

San Francisco

##Exercise
From the dictionary below, how do you access the latitude and longitude values? print the latitude and longitude of new york city by extracting it from the dictionary below.

nyc_data = {'city': 'New York', 'population': 8175133, 'coordinates': (40.661, -73.944) }

The expected output should look like below.
40.661
-73.944

In [ ]:
nyc_data = {'city': 'New York', 'population': 8175133, 'coordinates': (40.661, -73.944) }
nyc_data['coordinates']

(40.661, -73.944)

In [ ]:
print(nyc_data['coordinates'][0])
print(nyc_data['coordinates'][1])

40.661
-73.944

#3.String Operations

In [ ]:
city = 'San Francisco'
print(len(city))

13

In [ ]:
print(city.split())

['San', 'Francisco']

In [ ]:
print(city.upper())

SAN FRANCISCO

In [ ]:
city[0]

'S'

In [ ]:
city[-1]

'o'

In [ ]:
city[0:3]

'San'

In [ ]:
city[4:]

'Francisco'

##Escaping characters
Certain characters are special since they are by Python language itself. For example, the quote character ’ is used to define a string. What do you do if your string contains a quote character?

In Python strings, the backslash \ is a special character, also called the escape character. Prefixing any character with a backslash makes it an ordinary character. (Hint: Prefixing a backslash with a backshalsh makes it ordinary too!)

It is also used for representing certain whitespace characters, \n is a newline, \t is a tab etc.

Remove the # from the cell below and run it.

In [ ]:
my_string = 'It's a beautiful day!'
my_string

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-43-bcc4f97b09d1>, line 1)

We can fix the error by espacing the single quote within the string.

In [ ]:
my_string = 'It\'s a beautiful day!'
print(my_string)

It's a beautiful day!

Alternatively, you can also use double-quotes if your string contains a single-quote

In [ ]:
my_string = "It's a beautiful day!"
my_string

"It's a beautiful day!"

What if our string contains both single and double quotes?

We can use triple-quotes! Enclosing the string in triple quotes ensures both single and double quotes are treated correctly.

In [ ]:
latitude = '''37° 46' 26.2992" N'''
longitude = '''122° 25' 52.6692" W'''
print(latitude, longitude)
print('Latitude:',latitude)

37° 46' 26.2992" N 122° 25' 52.6692" W
Latitude: 37° 46' 26.2992" N

Backslashes pose another problem when dealing with Windows paths

In [ ]:
path = 'C:\Users\Suchitra'
print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-47-7ad945b2aeda>, line 1)

Prefixing a string with r makes is a Raw string. Which doesn’t interpret backslash as a special character

In [ ]:
path = r'C:\Users\Suchitra'
print(path)

C:\Users\Suchitra

##Printing Strings
Python provides a few different ways to create strings from variables. Let’s learn about the two preferred methods.

##String format() Method
We can use the string format() method to create a string with curly-braces and specify the values to fill in each field.

In [ ]:
city = 'San Francisco'
population = 881549
print('Population of {} is {}'.format(city ,population))

Population of San Francisco is 881549

We can also use the format method to control the precision of the numbers

In [ ]:
latitude = 37.7749
longitude = -122.4194

#Reducing decimals to 2 digits
coordinates = '{:.2f},{:.2f}'.format(latitude, longitude)
print(coordinates)

37.77,-122.42

##F-Strings

Since Python 3.6, we have an improved way for string formatting called f-strings - which stands for formatted string literals. It works similarly to the format() function but provides a more concise syntax. We create an f-string by adding a prefix f to any string. The variables within curly-braces inside a f-string are replaced with their values.

In [ ]:
city = 'San Francisco'
population = 881549
print(f'Population of {city} is {population}.')

Population of San Francisco is 881549.

The same formatting operators we saw earlier works with f-strings.

In [ ]:
latitude = 37.7749
longitude = -122.4194

coordinates = f'{latitude:.2f},{longitude:.2f}'
print(coordinates)

37.77,-122.42

We find that while f-strings are modern and concise - beginners find it more intuitive to use the format() method, so we will prefer format() over f-strings in this course. But you are free to use any method of your choice.

##Exercise
Use the string slicing to extract and print the degrees, minutes and second parts of the string below.
latitude = '''37° 46' 26.2992"'''

The output should be as follows

37

46

26.2992

In [ ]:
latitude = '''37° 46' 26.2992"'''
print(latitude.split())

['37°', "46'", '26.2992"']

In [ ]:
print(latitude.split('°'))
print(latitude.split('°')[0])
#print(latitude.split('°')[1])

print(latitude.split('°')[1].split("'")[0])

print(latitude.split('°')[1].split("'")[1].split('"')[0])

['37', ' 46\' 26.2992"']
37
 46
 26.2992

#4. Loops and Conditionals
# For Loops

A for loop is used for iterating over a sequence. The sequence can be a list, a tuple, a dictionary, a set, or a string.

In [ ]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

for city in cities:
    print(city)

San Francisco
Los Angeles
New York
Atlanta

To iterate over a dictionary, you can call the items() method on it which returns a tuple of key and value for each item.

In [ ]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }

for x, y in data.items():
    print(x, y)

city San Francisco
population 881549
coordinates (-122.4194, 37.7749)

The built-in range() function allows you to create sequence of numbers that you can iterate over

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

The range function can also take a start and an end number

In [ ]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

##Conditionals
Python supports logical conditions such as equals, not equals, greater than etc. These conditions can be used in several ways, most commonly in if statements and loops.

An if statement is written by using the if keyword.

Note: A very common error that programmers make is to use = to evaluate a equals to condition. The = in Python means assignment, not equals to. Always ensure that you use the == for an equals to condition.

In [ ]:
for city in cities:
    if city == 'Atlanta':
        print(city)

Atlanta

You can use else keywords along with if to match elements that do not meet the condition

In [ ]:
for city in cities:
    if city == 'Atlanta':
        print(city)
    else:
        print('This is not Atlanta')

This is not Atlanta
This is not Atlanta
This is not Atlanta
Atlanta

Python relies on indentation (whitespace at the beginning of a line) to define scope in the for loop and if statements. So make sure your code is properly indented.

You can evaluate a series of conditions using the elif keyword.

Multiple criteria can be combined using the and and or keywords.

In [ ]:
cities_population = {
    'San Francisco': 881549,
    'Los Angeles': 3792621,
    'New York': 8175133,
    'Atlanta':498044
}

for city, population in cities_population.items():
    if population < 1000000:
        print('{} is a small city'.format(city))
    elif population > 1000000 and population < 5000000:
        print('{} is a big city'.format(city))
    else:
        print('{} is a mega city'.format(city))

San Francisco is a small city
Los Angeles is a big city
New York is a mega city
Atlanta is a small city

In [ ]:
cities_population.items()

dict_items([('San Francisco', 881549), ('Los Angeles', 3792621), ('New York', 8175133), ('Atlanta', 498044)])

##Control Statements
A for-loop iterates over each item in the sequence. Sometimes is desirable to stop the execution, or skip certain parts of the for-loops. Python has special statements, break, continue and pass.

A break statement will stop the loop and exit out of it

In [ ]:
for city in cities:
    print(city)
    if city == 'Los Angeles':
        print('I found Los Angeles')
        break

San Francisco
Los Angeles
I found Los Angeles

A continue statement will skip the remaining part of the loop and go to the next iteration

In [ ]:
for city in cities:
    if city == 'Los Angeles':
        continue
    print(city)

San Francisco
New York
Atlanta

A pass statement doesn’t do anything. It is useful when some code is required to complete the syntax, but you do not want any code to execute. It is typically used as a placeholder when a function is not complete.

In [ ]:
for city in cities:
    if city == 'Los Angeles':
        pass
    else:
        print(city)

San Francisco
New York
Atlanta

##Exercise
The Fizz Buzz challenge.

Write a program that prints the numbers from 1 to 100 and for multiples of 3 print Fizz instead of the number and for the multiples of 5 print Buzz. If it is divisible by both, print FizzBuzz.

So the output should be something like below

1, 2, Fizz, 4, Buzz, Fizz ... 13, 14, FizzBuzz, ...

Breaking down the problem further, we need to create for-loop with following conditions

If the number is a multiple of both 3 and 5 (i.e. 15), print FizzBuzz
If the number is multiple of 3, print Fizz
If the number is multiple of 5, print Buzz
Otherwise print the number
Hint: See the code cell below. Use the modulus operator % to check if a number is divisible by another. 10 % 5 equals 0, meaning it is divisible by 5.

In [ ]:
for i in range(1,100):
  if (i%3==0) & (i%5==0):
    print('FizzBuzz')
  elif (i%3==0):
    print('Fizz')
  elif (i%5==0):
    print('Buzz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

#5.Functions

A function is a block of code that takes one or more inputs, does some processing on them and returns one or more outputs. The code within the function runs only when it is called.

A funtion is defined using the def keyword

In [ ]:
def my_function():
    ....
    ....
    return something

Functions are useful because they allow us to capture the logic of our code and we can run it with differnt inputs without having to write the same code again and again.

In [ ]:
def greeting(name):
  return 'Hello '+name

output=greeting('Suchitra')
print(output)

Hello Suchitra

##Function to convert DMS to decimals
Functions can take multiple arguments. Let’s write a function to convert coordinates from degrees, minutes, seconds to decimal degrees. This conversion is needed quite often when working with data collected from GPS devices.

1 degree is equal to 60 minutes
1 minute is equal to 60 seconds (3600 seconds)
To calculate decimal degrees, we can use the formula below:

If degrees are positive:

Decimal Degrees = degrees + (minutes/60) + (seconds/3600)

If degrees are negative

Decimal Degrees = degrees - (minutes/60) - (seconds/3600)

In [9]:
def convert_dms_to_dd(degrees, minutes, seconds):
  if degrees < 0:
    result = degrees-(minutes/60)-(seconds/3600)
  else:
    result = degrees+(minutes/60) +(seconds/3600)
  return result

In [ ]:
print(convert_dms_to_dd(10,10,10))

10.169444444444444

In [ ]:
print(convert_dms_to_dd(12,58,20))

12.972222222222223

##Exercise
Given a coordinate string with value in degree, minutes and seconds, convert it to decimal degrees by calling the dms_to_decimal function.
coordinate = '''37° 46' 26.2992"'''

Hints:

Add the code below to extract the parts from the coordinate string,

call the function to convert to decimal degrees and print the result

The expected answer is 37.773972

In [ ]:
coordinate = '''37° 46' 26.2992"'''
degrees=coordinate.split('°')[0]
# temp=coordinate.split('°')[1].split("'")
# print(temp)
minutes=coordinate.split('°')[1].split('\'')[0]
seconds=coordinate.split('°')[1].split('\'')[1].split('"')[0]
print('Degrees is  {}, minutes is {}, seconds is {}'.format(degrees,minutes,seconds))
print(type(degrees))

#Convert degrees,minutes,seconds to float
degrees_float=float(degrees)
minutes_float=float(minutes)
seconds_float=float(seconds)
print(type(degrees_float))


output=convert_dms_to_dd(degrees_float,minutes_float,seconds_float)
print(output)

[' 46', ' 26.2992"']
Degrees is  37, minutes is  46, seconds is  26.2992
<class 'str'>
<class 'float'>
37.773972

##Exercise2: Function to convert Decimals to DMS
Logic:
Decimal degrees (DD):37.773972

Degrees=37

Minutes_temp=0.773972*60=46.43832 (non fractional part is minutes)

Minutes=46

To get seconds, get the fractional part of minutes and multiply with 60.

seconds=0.43832*60=26.2992

In [ ]:
#To work with float numbers:
import math

number = 2.3

# Get the integer part
integer_part = math.trunc(number)  # or use int(number)
# Get the fractional part
fractional_part = number - integer_part

print(f"Integer part: {integer_part}")        # Output: 2
print(f"Fractional part: {fractional_part}")  # Output: 0.3

In [ ]:
def convert_dd_to_dms(decimaldegrees):
  #Get integer part from dd
  degrees=int(decimaldegrees)
  minutes_cal=(decimaldegrees-degrees)*60
  #Get integer part from minutes calculation
  minutes=int( minutes_cal)
  seconds=(minutes_cal-minutes)*60
  return degrees,minutes,seconds

In [ ]:
output=convert_dd_to_dms(37.773972)
print(output)

print(f"{output[0]}° {output[1]}' {output[2]}\" ")

(37, 46, 26.299200000001974)
37° 46' 26.299200000001974"

#6.The Python Standard Library

![image.png]()

Python comes with many built-in modules that offer ready-to-use solutions to common programming problems. To use these modules, you must use the import keyword. Once imported in your Python script, you can use the functions provided by the module in your script.

We will use the built-in math module that allows us to use advanced mathematical functions.

In [1]:
import math

You can also import specific functions or constants from the module like below

In [2]:
from math import pi
print(pi)

3.141592653589793

##Calculating Distance
Given 2 points with their Latitude and Longitude coordinates, the Haversine Formula calculates the straight-line distance in meters, assuming that Earth is a sphere.

The formula is simple enough to be implemented in a spreadsheet too. If you are curious, see my post about using this formula for calculating distances in a spreadsheet.

We can write a function that accepts a pair of origin and destination coordinates and computes the distance.

In [3]:
san_francisco = (37.7749, -122.4194)
new_york = (40.661, -73.944)

In [4]:
def haversine_distance(origin, destination):
  lat1, lon1 = origin
  lat2, lon2 = destination
  radius = 6371000
  dlat = math.radians(lat2-lat1)
  dlon = math.radians(lon2-lon1)
  a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
    * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
  distance = radius * c
  return distance

In [5]:
distance = haversine_distance(san_francisco, new_york)
print(distance/1000, 'km')

4135.374617164737 km

##Discover Python Easter Eggs
Programmers love to hide secret jokes in their programs for gun. These are known as Easter Eggs. Python has an easter egg that you can see when you try to import the module named this. Try writing the command import this below.

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Let’s try one more. Try importing the antigravity module.

Here’s a complete list of [easter eggs in Python](https://towardsdatascience.com/7-easter-eggs-in-python-7765dc15a203)

In [8]:
import antigravity

##Exercise
Find the coordinates of 2 cities near you and calculate the distance between them by calling the haversine_distance function below.

In [14]:
import math

def haversine_distance(origin, destination):
  lat1, lon1 = origin
  lat2, lon2 = destination
  radius = 6371000  #meters
  dlat = math.radians(lat2-lat1)
  dlon = math.radians(lon2-lon1)
  a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
    * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
  distance = radius * c
  return distance
# distance is in meters
# city1 = (lat1, lng1)
# city2 = (lat2, lng2)
# call the function and print the result

In [12]:
vijayawada=(16.515099,80.632095)
hyd="17° 22' 31\" N and 78° 28' 27\" E"
 #(17.4065° N, 78.4772° E)

hyd_lat=convert_dms_to_dd(17,22,31)
hyd_long=convert_dms_to_dd(78,28,27)
print(hyd_lat,hyd_long)
hyderabad=(hyd_lat,hyd_long)

17.37527777777778 78.47416666666666

In [18]:
#Distance between vijayawada and hyderabad
distance=haversine_distance(vijayawada,hyderabad)
print(f'The distance between vijaywada and hyderabad is {distance} m.')
print(f'The distance between vijaywada and hyderabad is {(distance/1000):.2f} Km.')

The distance between vijaywada and hyderabad is 248660.50196570973 m.
The distance between vijaywada and hyderabad is 248.66 Km.