<a href="https://colab.research.google.com/github/suchitra2020180/RS_GIS_Python/blob/main/Python_Foundation_for_Spatial_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Spatial Thoughts Tutorials

#0.Hello World

In [1]:
print("Hello World")

Hello World

#1.Variables

##Strings
A string is a sequence of letters, numbers, and punctuation marks - or commonly known as text

In Python you can create a string by typing letters between single or double quotation marks.

In [2]:
city="San Francisco"
state='California'
print(city,state)

San Francisco California

In [3]:
print(city + state)

San FranciscoCalifornia

In [4]:
print(city+', '+state)

San Francisco, California

##Numbers
Python can handle several types of numbers, but the two most common are:

int, which represents integer values like 100, and
float, which represents numbers that have a fraction part, like 0.5

Dynamic typing: Python allows assiging of both numbers and strings to a same variable. This makes python as a dynamic typing language.

In [6]:
population = 881549
latitude = 37.7739
longitude = -121.5687

In [8]:
print('Population:',population)
print('Population Data Type:',type(population))

Population: 881549
Population Data Type: <class 'int'>

In [9]:
print('latitude:',latitude)
print('latitude Data Type:',type(latitude))

latitude: 37.7739
latitude Data Type: <class 'float'>

In [11]:
elevation_feet = 934
#Converting feet to meters
elevation_meters=elevation_feet*0.3048
print('Elevation in meters:',elevation_meters)

Elevation in meters: 284.6832

In [12]:
area_sqmi = 46.89
density = population / area_sqmi
print('Density:',density)

Density: 18800.362550650458

In [15]:
population='1 million'
print('Population:',population)
print('Population Datatype:',type(population))

Population: 1 million
Population Datatype: <class 'str'>

##Exercise
We have a variable named distance_km below with the value 4135 - indicating the straight-line distance between San Francisco and New York in Kilometers. Create another variable called distance_mi and store the distance value in miles.

Hint1: 1 mile = 1.60934 kilometers
Add the code in the cell below and run it. The output should be 2569.37

In [14]:
distance_km=4135
distance_mi=distance_km/1.60934
print('Distance in miles:',distance_mi)

Distance in miles: 2569.376266046951

#2.Data Structures

##Tuples
A tuple is a sequence of objects. It can have any number of objects inside. In Python tuples are written with round brackets ().

In [16]:
latitude = 37.7739
longitude = -121.5687
coordinates = (latitude, longitude)
print(coordinates)

(37.7739, -121.5687)

You can access each item by its position, i.e. index. In programming, the counting starts from 0. So the first item has an index of 0, the second item an index of 1 and so now. The index has to be put inside square brackets [].

In [17]:
y = coordinates[0]
x = coordinates[1]
print(x, y)

-121.5687 37.7739

##Lists
A list is similar to a tuple - but with a key difference. With tuples, once created, they cannot be changed, i.e. they are immutable. But lists are mutable. You can add, delete or change elements within a list. In Python, lists are written with square brackets []

In [18]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

You can access the elements from a list using index the same way as tuples.

In [19]:
print(cities[0])

San Francisco

You can call len() function with any Python object and it will calculates the size of the object

In [22]:
print(len(cities))

5

We can add items to the list using the append() method

In [20]:
cities.append('Boston')
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta', 'Boston']

As lists are mutable, you will see that the size of the list has now changed

In [21]:
print(len(cities))

5

Another useful method for lists is sort() - which can sort the elements in a list.

In [23]:
cities.sort()
print(cities)

['Atlanta', 'Boston', 'Los Angeles', 'New York', 'San Francisco']

The default sorting is in ascending order. If we wanted to sort the list in a decending order, we can call the function with reverse=True

In [24]:
cities.sort(reverse=True)
print(cities)

['San Francisco', 'New York', 'Los Angeles', 'Boston', 'Atlanta']

##Sets
Sets are like lists, but with some interesting properties. Mainly that they contain only unique values. It also allows for set operations - such as intersection, union and difference. In practice, the sets are typically created from lists.

In [26]:
capitals = ['Sacramento', 'Boston', 'Austin', 'Atlanta']
capitals_set = set(capitals)
cities_set = set(cities)

print('capitals_set:',capitals_set)
print('cities_set:',cities_set)

capital_cities = capitals_set.intersection(cities_set)
print('capital_cities:',capital_cities)

capitals_set: {'Sacramento', 'Atlanta', 'Boston', 'Austin'}
cities_set: {'New York', 'Los Angeles', 'Boston', 'San Francisco', 'Atlanta'}
capital_cities: {'Atlanta', 'Boston'}

Sets are also useful in finding unique elements in a list. Let’s merge the two lists using the extend() method. The resulting list will have duplicate elements. Creating a set from the list removes the duplicate elements.

In [27]:
cities.extend(capitals)
print('Cities:',cities)
print('Set of cities:',set(cities))

Cities: ['San Francisco', 'New York', 'Los Angeles', 'Boston', 'Atlanta', 'Sacramento', 'Boston', 'Austin', 'Atlanta']
Set of cities: {'New York', 'Los Angeles', 'Boston', 'San Francisco', 'Sacramento', 'Austin', 'Atlanta'}

##Dictionaries
In Python dictionaries are written with curly brackets {}. Dictionaries have keys and values. With lists, we can access each element by its index. But a dictionary makes it easy to access the element by name. Keys and values are separated by a colon :.

In [28]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }
print('Data:',data)

Data: {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749)}

You can access an item of a dictionary by referring to its key name, inside square brackets.

In [29]:
print(data['city'])

San Francisco

##Exercise
From the dictionary below, how do you access the latitude and longitude values? print the latitude and longitude of new york city by extracting it from the dictionary below.

nyc_data = {'city': 'New York', 'population': 8175133, 'coordinates': (40.661, -73.944) }

The expected output should look like below.
40.661
-73.944

In [30]:
nyc_data = {'city': 'New York', 'population': 8175133, 'coordinates': (40.661, -73.944) }
nyc_data['coordinates']

(40.661, -73.944)

In [32]:
print(nyc_data['coordinates'][0])
print(nyc_data['coordinates'][1])

40.661
-73.944

#3.String Operations

In [33]:
city = 'San Francisco'
print(len(city))

13

In [34]:
print(city.split())

['San', 'Francisco']

In [35]:
print(city.upper())

SAN FRANCISCO

In [36]:
city[0]

'S'

In [37]:
city[-1]

'o'

In [38]:
city[0:3]

'San'

In [39]:
city[4:]

'Francisco'

##Escaping characters
Certain characters are special since they are by Python language itself. For example, the quote character ’ is used to define a string. What do you do if your string contains a quote character?

In Python strings, the backslash \ is a special character, also called the escape character. Prefixing any character with a backslash makes it an ordinary character. (Hint: Prefixing a backslash with a backshalsh makes it ordinary too!)

It is also used for representing certain whitespace characters, \n is a newline, \t is a tab etc.

Remove the # from the cell below and run it.

In [43]:
my_string = 'It's a beautiful day!'
my_string

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-43-bcc4f97b09d1>, line 1)

We can fix the error by espacing the single quote within the string.

In [44]:
my_string = 'It\'s a beautiful day!'
print(my_string)

It's a beautiful day!

Alternatively, you can also use double-quotes if your string contains a single-quote

In [42]:
my_string = "It's a beautiful day!"
my_string

"It's a beautiful day!"

What if our string contains both single and double quotes?

We can use triple-quotes! Enclosing the string in triple quotes ensures both single and double quotes are treated correctly.

In [46]:
latitude = '''37° 46' 26.2992" N'''
longitude = '''122° 25' 52.6692" W'''
print(latitude, longitude)
print('Latitude:',latitude)

37° 46' 26.2992" N 122° 25' 52.6692" W
Latitude: 37° 46' 26.2992" N

Backslashes pose another problem when dealing with Windows paths

In [47]:
path = 'C:\Users\Suchitra'
print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-47-7ad945b2aeda>, line 1)

Prefixing a string with r makes is a Raw string. Which doesn’t interpret backslash as a special character

In [48]:
path = r'C:\Users\Suchitra'
print(path)

C:\Users\Suchitra

##Printing Strings
Python provides a few different ways to create strings from variables. Let’s learn about the two preferred methods.

##String format() Method
We can use the string format() method to create a string with curly-braces and specify the values to fill in each field.

In [49]:
city = 'San Francisco'
population = 881549
print('Population of {} is {}'.format(city ,population))

Population of San Francisco is 881549

We can also use the format method to control the precision of the numbers

In [50]:
latitude = 37.7749
longitude = -122.4194

#Reducing decimals to 2 digits
coordinates = '{:.2f},{:.2f}'.format(latitude, longitude)
print(coordinates)

37.77,-122.42

##F-Strings

Since Python 3.6, we have an improved way for string formatting called f-strings - which stands for formatted string literals. It works similarly to the format() function but provides a more concise syntax. We create an f-string by adding a prefix f to any string. The variables within curly-braces inside a f-string are replaced with their values.

In [51]:
city = 'San Francisco'
population = 881549
print(f'Population of {city} is {population}.')

Population of San Francisco is 881549.

The same formatting operators we saw earlier works with f-strings.

In [52]:
latitude = 37.7749
longitude = -122.4194

coordinates = f'{latitude:.2f},{longitude:.2f}'
print(coordinates)

37.77,-122.42

We find that while f-strings are modern and concise - beginners find it more intuitive to use the format() method, so we will prefer format() over f-strings in this course. But you are free to use any method of your choice.

##Exercise
Use the string slicing to extract and print the degrees, minutes and second parts of the string below.
latitude = '''37° 46' 26.2992"'''

The output should be as follows

37

46

26.2992

In [66]:
latitude = '''37° 46' 26.2992"'''
print(latitude.split())

['37°', "46'", '26.2992"']

In [67]:
print(latitude.split('°'))
print(latitude.split('°')[0])
#print(latitude.split('°')[1])

print(latitude.split('°')[1].split("'")[0])

print(latitude.split('°')[1].split("'")[1].split('"')[0])

['37', ' 46\' 26.2992"']
37
 46
 26.2992

#4. Loops and Conditionals
# For Loops

A for loop is used for iterating over a sequence. The sequence can be a list, a tuple, a dictionary, a set, or a string.

In [68]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

for city in cities:
    print(city)

San Francisco
Los Angeles
New York
Atlanta

To iterate over a dictionary, you can call the items() method on it which returns a tuple of key and value for each item.

In [69]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }

for x, y in data.items():
    print(x, y)

city San Francisco
population 881549
coordinates (-122.4194, 37.7749)